<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Recipe</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .ok{
        color: white;
        text-decoration: none;
    }
    .ok:hover{
        color: white;
        text-decoration: none;
    }
    </style>
</head>
<body>
    <div class="container mt-3 col-6">
    <br><br>
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4> Input Recipe Information</h4>
        <hr>
        <div class="form-group">
          <label for="InputName">Recipe Name:</label><br>
          <input name="name" type="text" required>
          <br><br>
        </div>
        <div class="form-group">
          <label for="InputIngredients">Ingredients:</label><br>
          <input name="ingredients" type="text" required>
          <br><br>
        </div>
        <div class="form-group">
          <label for="InputDescription">Description:</label><br>
          <textarea name="description"  type="text" rows="5" cols="30" required></textarea>
          <br><br>
        </div>
        <div class="form-group">
          <label for="InputCookTime">Time to cook (in mins.):</label><br>
          <input name="cooktime" type="text" required>
          <br><br>
        </div>
        <input type="submit" value="Add Recipe">
        </form>
    </div>
</body>
</html>