<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Registration Form</title>
    <style type="text/css">
        body {
            padding-left: 11em;
            font-family: Georgia, "Times New Roman",
            Times, serif;
            background-color: #0048fd;
        }
        .button {
            background-color: #1aaa04;
            color: #f6ff7f;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <!-- Registration form -->
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}  <!-- CSRF token for security -->

            <!-- Registration form heading -->
            <h3>Register</h3>
            <hr>

            <!-- Display error/success messages -->
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <!-- First Name input field -->
            <div class="form-group">
                <label for="InputFirst">First name</label>
                <input type="text" class="form-control" name="first_name" id="InputFirst" aria-describedby="emailHelp"
                    placeholder="Enter First name" required>
            </div>

            <!-- Last Name input field -->
            <div class="form-group">
                <label for="InputLast">Last name</label>
                <input type="text" class="form-control" name="last_name" id="InputLast"
                    aria-describedby="emailHelp" placeholder="Enter Last name" required>
            </div>

            <!-- Username input field -->
            <div class="form-group">
                <label for="InputUser">Username</label>
                <input type="text" class="form-control" name="username" id="InputUser"
                    aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>

            <!-- Email input field -->
            <div class="form-group">
                <label for="InputEmail">Email</label>
                <input type="text" class="form-control" name="email" id="InputEmail"
                    placeholder="Enter Email" required>
            </div>

            <!-- Confirm Email input field -->
            <div class="form-group">
                <label for="ConfirmEmail">Confirm Email</label>
                <input type="text" class="form-control" name="email" id="ConfirmEmail"
                    placeholder="Re-enter Email" required>
            </div>

            <!-- Password input field -->
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="InputPassword"
                    placeholder="Enter Password" required>
            </div>

            <!-- Confirm Password input field -->
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" name="password" id="ConfirmPassword"
                    placeholder="Re-enter Password" required>
            </div>

            <!-- Link to login page for users who already have an account -->
            <p>Already have an account <a href="/">Login</a> </p>

            <!-- Submit button -->
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
</body>
</html>